.modal {
  width: 720px;
  border-radius: 40px;
  background-color: #1c1c21;
  position: fixed;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIcon {
  cursor: pointer;
}
