.box {
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: left;
}

.tab {
  display: flex;
}

.ingridients {
  height: 720px;
  overflow-x: auto;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: #fff;
}
