.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1288px;
  margin: 0 auto;
}

.appHeaderLeftButtons {
  display: flex;
  align-items: center;
}

.appHeaderButton {
  display: flex;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.appHeaderLogo {
  position: absolute;
  left: calc(50% - 145px);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.appHeaderButton:hover {
  opacity: .8;
}

.appHeaderLogo:hover {
  opacity: .8;
}
